menulist>menupopup>menuitem>.menu-iconic-left {
	display: -moz-box;
	visibility: visible !important;
}

menulist>menupopup>menuitem .menu-iconic-icon {
	width: auto;
	height: auto;
	visibility: visible !important;
}

menulist .menulist-label {
	margin-left: 2px;
}