.menulist-buttons {
	min-height: 25px;
	margin-right: 0;
}

button.menulist-buttons {
	min-width: 24px;
	margin-left: 0; 
}

button.menulist-buttons:last-of-type {
	margin-right: 4px;
}


button.refresh-icon[label] .button-text {
	margin-left: 4px;
}

menulist.short {
    max-width: 4em;
}


#R_command {
	background: none; 
	padding-top: 1px !important; 
	margin-left: 10px !important;
}


/*
menulist.menulist-buttons {
	min-height: 25px;
}
*/
