
#rbrowser_objects_tree scrollbar {
  -moz-appearance: scrollbartrack-horizontal;
  cursor: default;
  background: transparent;
  pointer-events: auto;
  margin: 1px;
}

@media all and (-moz-overlay-scrollbars) {
  #rbrowser_objects_tree scrollbar[root="true"] {
    position: relative ;
    z-index: 2147483647; /* largest positive value of a signed 32-bit integer */
  }

  #rbrowser_objects_tree scrollbar:not([active="true"]),
  #rbrowser_objects_tree scrollbar[disabled="true"] {
    visibility: hidden;
  }
}

#rbrowser_objects_tree scrollbar[orient="vertical"] {
   -moz-appearance: scrollbartrack-vertical;
}
